.layout {
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
    background-color: var(--color-background);
}

.main {
    flex: 1;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    padding-bottom: 80px; /* espacio para el BottomNav */
}